{% extends 'base.html' %}

{% block content %}
  <div class="container text-center my-4">
    <h1>About Us</h1><section class="px-5 m-4">
      <h2 class="border-dark border-1 border-bottom p-2">Building Brighter Futures One Skill at a Time</h2><p>"Skills for Smiles" is a platform dedicated to connecting orphanages in need with skilled volunteers who can offer their time and expertise. We believe that every child deserves a happy and fulfilling life, and access to the resources that can help them reach their full potential. Through our innovative platform, we bridge the gap between orphanages facing resource limitations and passionate individuals eager to make a positive impact.</p>
    </section>
    <section class="px-5 m-4">
      <h2 class="border-dark border-1 border-bottom p-2">Our Mission</h2><p>Our mission is to empower orphanages by providing them with the skilled volunteers they need to create a nurturing and stimulating environment for children. We strive to foster a sense of community, collaboration, and shared purpose between volunteers and orphanages.</p>
    </section>
  </div>
{% endblock %}
