{% extends 'base.html' %}

{% block content %}

    <div class="container my-5">
      <div class="accordion" role="tablist" id="accordion-1">
        <div class="accordion-item">
          <h2 class="accordion-header" role="tab"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-1" aria-expanded="true" aria-controls="accordion-1 .item-1">Who can benefit from Skills for Smiles?</button></h2><div class="accordion-collapse collapse show item-1" role="tabpanel" data-bs-parent="#accordion-1">
            <div class="accordion-body">
              <p class="mb-0">
                Skills for Smiles creates a win-win situation for both orphanages and volunteers. Orphanages struggling with limited resources can gain access to a pool of skilled volunteers who can offer their expertise in various fields. This can include anything from education and healthcare to IT, construction, and event planning. With this additional support, orphanages can create a more nurturing and stimulating environment for the children in their care.<br /><br />Volunteers who are passionate about giving back to their communities and using their skills to make a positive impact can find fulfilling opportunities through Skills for Smiles. The platform allows them to connect with orphanages in need and contribute their talents in a way that directly benefits children's well-being and development.&nbsp;Skills for Smiles is a great way for volunteers to gain valuable experience, develop new skills, and make a lasting difference in the lives of others.
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-2" aria-expanded="false" aria-controls="accordion-1 .item-2">What kind of skills are in demand?</button></h2><div class="accordion-collapse collapse item-2" role="tabpanel" data-bs-parent="#accordion-1">
            <div class="accordion-body">
              <p class="mb-0">The beauty of Skills for Smiles is that a wide range of skills can be valuable to orphanages. Here are some examples:</p>
              <ul class="d-flex flex-column gap-2 mt-2">
                <li>
                  <strong>Education and Literacy</strong>: Teachers, tutors, curriculum developers, or anyone passionate about helping children learn can provide educational support and enrichment activities.
                </li>
                <li>
                  <strong>Healthcare</strong>: Doctors, nurses, therapists, or public health professionals can offer medical care, health education workshops, or mental health support.
                </li>
                <li>
                  <strong>IT and Technology</strong>: Individuals with IT skills can help orphanages with website development, data management, or social media marketing.
                </li>
                <li>
                  <strong>Construction and Handyman Skills</strong>: Volunteers with carpentry, electrical, or plumbing skills can assist with maintenance and repairs, improving the living conditions for children in orphanages.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-3" aria-expanded="false" aria-controls="accordion-1 .item-3">How does volunteer matching work?</button></h2><div class="accordion-collapse collapse item-3" role="tabpanel" data-bs-parent="#accordion-1">
            <div class="accordion-body">
              <p class="mb-0">Skills for Smiles makes volunteer matching efficient and effective. Orphanages can post their specific needs on the platform, outlining the required skills, experience level, and time commitment for each volunteer role. Volunteers, on the other hand, can create detailed profiles highlighting their skills, experience, and areas of interest. Our platform uses a smart matching algorithm that considers these factors to connect orphanages with volunteers who are the best fit for their needs. This ensures that volunteers can utilize their skills in a meaningful way, and orphanages receive the targeted support they require.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-4" aria-expanded="false" aria-controls="accordion-1 .item-4">Is there a cost to participate?</button></h2><div class="accordion-collapse collapse item-4" role="tabpanel" data-bs-parent="#accordion-1">
            <div class="accordion-body">
              <p class="mb-0">Skills for Smiles is currently free for both orphanages and volunteers to register and use the platform's core functionalities. We believe that everyone should have the opportunity to contribute to the well-being of children in orphanages, regardless of their financial background.&nbsp;To maintain and improve our platform, we rely on the generosity of donors.&nbsp;If you find Skills for Smiles valuable, we encourage you to consider making a donation to support our ongoing mission.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-5" aria-expanded="false" aria-controls="accordion-1 .item-5">How can I learn more about getting involved?</button></h2><div class="accordion-collapse collapse item-5" role="tabpanel" data-bs-parent="#accordion-1">
            <div class="accordion-body">
              <p class="mb-0">We encourage you to visit our "Get Involved" section on the Skills for Smiles website. There, you will find clear instructions on how to register as an orphanage or a volunteer. The registration process is quick and easy, and you'll be able to start making a difference in no time.&nbsp;If you have any further questions, you can also contact us directly through our website. Our friendly team is happy to assist you and provide any additional information you may need.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
